<?xml version="1.0" encoding="UTF-8"?>
<beans>

  <!--
  <bean id="userDao" class="com.noodles.springframework.test.bean.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>
  -->

  <bean id="userService" class="com.noodles.springframework.test.bean.UserService" scope="prototype">
    <property name="uId" value="10002"/>
    <property name="company" value="测试 spring"/>
    <property name="location" value="十八弯"/>
    <property name="userDao" ref="proxyUserDao"/>
  </bean>

  <bean id="proxyUserDao" class="com.noodles.springframework.test.bean.ProxyBeanFactory"/>

<!--  <bean class="com.noodles.springframework.test.common.MyBeanPostProcessor"/>-->
<!--  <bean class="com.noodles.springframework.test.common.MyBeanFactoryPostProcessor"/>-->
</beans>