<?xml version="1.0" encoding="UTF-8"?>
<beans>

  <bean class="com.noodles.springframework.test.event.ContextRefreshedEventListener"/>

  <bean class="com.noodles.springframework.test.event.CustomEventListener"/>

  <bean class="com.noodles.springframework.test.event.ContextClosedEventListener"/>

</beans>