<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
		        http://www.springframework.org/schema/context">

  <bean id="husband" class="com.noodles.springframework.test.converter.HusbandCon">
    <property name="wifeName" value="娜美"/>
    <property name="marriageDate" value="2021-09-09"/>
  </bean>

  <bean id="conversionService" class="com.noodles.springframework.context.support.ConversionServiceFactoryBean">
    <property name="converters" ref="converters"/>
  </bean>

  <bean id="converters" class="com.noodles.springframework.test.converter.ConvertersFactoryBean"/>
</beans>