<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noodles.demo.dao.ArticleNewDao">
    <resultMap id="articleResult" type="com.noodles.demo.po.ArticleNew">
        <result property="createTime" column="create_time"/>
        <association property="author" column="author_id" javaType="com.noodles.demo.po.Author" select="findAuthor"/>
    </resultMap>

    <select id="findOne" resultMap="articleResult">
        SELECT
            id, author_id, title, content, create_time
        FROM
            article
        WHERE
            id = #{id}
    </select>

    <select id="findAuthor" resultType="com.noodles.demo.po.Author">
        SELECT
            id, name, age, sex, email
        FROM
            author
        WHERE
            id = #{id}
    </select>

</mapper>